<launch>

  <!-- Map -->
  <arg name="map_file" default="$(find mecanum_base_controller)/maps/map.yaml" />

  <node pkg="map_server"
        type="map_server"
        name="map_server"
        args="$(arg map_file)" />

  <!-- AMCL -->
  <node pkg="amcl"
        type="amcl"
        name="amcl"
        output="screen">

    <rosparam file="$(find mecanum_base_controller)/config/amcl.yaml" command="load"/>

    <param name="use_map_topic" value="true"/>
  </node>

</launch>
